.timer {
    text-align: center;
    max-width: 500px;
    background-color: #f0f0f0;
    padding: 25px;
    margin: auto;
    border-radius: 5px;
}
#display {
    border: 25px solid #fff;
    border-radius: 15px;
    font-size: 83px;
    font-family: lucida console;
    color: dimgrey;
}
#msec {
    font-size: 25px;
}
.buttons {
    padding-top: 20px;
}
.buttons button {
    width: 100%;
    text-transform: uppercase;
}
#pause {
    display: none;
}
